body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Margarine", cursive;
  font-size: 4em;
}

#container {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.row {
  display: flex;
}

.square {
  background-color: white;
  border: solid #fff7f0;
  flex: 1 0 auto;
  aspect-ratio: 1;
}
