body {
  background-color: bisque;
}

#container {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.row {
  display: flex;
}

.square {
  background-color: white;
  border: solid #fff7f0;
  flex: 1 0 auto;
  aspect-ratio: 1;
}
